input {
  padding: 4px 6px;
  border-radius: 8px;
  width: 70%;
  border: 3px solid black;
  display: flex;
  flex-direction: row;
  margin-right: 8px;
}

button {
  display: flex;
  flex-direction: row;
  background-color: #1fe740;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 6px;
  color: #373636;
  font-weight: 600;
  transition: background-color 1s;
}

button:hover {
  cursor: pointer;
  background-color: #18a42f;
}

li {
  word-break: break-all;
  margin-bottom: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

li:hover {
  cursor: pointer;
}

.special {
  color: #1fe740;
}
