body {
  background-color: #0078ab;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.bg-cont {
  background-color: #fff;
  border-radius: 8px;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px auto 0;
  flex-direction: column;
  padding: 12px;
}

.inner-cont {
  /* background-color: #f1d6d6; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
  border-radius: 5px;
  padding: 8px;
  max-width: 50%;
  white-space: break-spaces;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
}
