body {
  background: rgb(5, 10, 156);
  background: linear-gradient(
    90deg,
    rgba(5, 10, 156, 1) 4%,
    rgba(124, 22, 195, 1) 30%,
    rgba(213, 24, 37, 1) 94%
  );
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.smile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smile {
  font-size: 150px;
  margin: 0 60px 40px;
  cursor: pointer;
}

span {
  color: aliceblue;
  font-size: 80px;
}
